In [3]:
# from pandas_datareader import data
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
import urllib.request, json
import os
import numpy as np
import tensorflow as tf # This code has been tested with TensorFlow 1.6
from sklearn.preprocessing import MinMaxScaler;

In [4]:
# load hqcl dataset
df = pd.read_csv('../../data/price-volume-data-for-all-us-stocks-etfs/Data/Stocks/hqcl.us.txt', delimiter=',', usecols=['Date','Open','High','Low','Close'])
df.head()

         Date     Open     High      Low    Close
0  2006-12-19  117.730  117.730  117.730  117.730
1  2006-12-20  117.730  117.730   93.338   93.809
2  2006-12-21   94.845   99.366   93.244   97.859
3  2006-12-22  100.030  103.600   98.895  103.320
4  2006-12-26  107.000  116.230  103.700  114.340