In [1]:
import pandas as pd
import numpy as np
np.set_printoptions(threshold=1000000000)
pd.set_option('display.max_columns', 500)

In [2]:
train = pd.read_csv('./Train_UWu5bXk.txt')
print(train.shape)
train.head()

(8523, 12)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [3]:
submission = pd.read_csv('../../data/big_martket_sales_analyticsvidhya/SampleSubmission_TmnO39y.csv')
print(submission.shape)
submission.head()

(5681, 3)

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049                NaN
1           FDW14            OUT017                NaN
2           NCN55            OUT010                NaN
3           FDQ58            OUT017                NaN
4           FDY38            OUT027                NaN

In [4]:
test = pd.read_csv('./Test_u94Q5KV.csv')
print(test.shape)
test.head()

(5681, 11)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

In [5]:
test.isna().sum(axis=0)

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

In [6]:
train.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [7]:
train.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [8]:
train.isna().sum(axis=0)

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [9]:
def get_unique(tr, te, col):
    unique = list(set(np.append(test[col].unique(),train[col].unique())))
    return unique

In [10]:
train = train.applymap(lambda s:s.lower() if type(s) == str else s)
test = test.applymap(lambda s:s.lower() if type(s) == str else s)

In [11]:
get_unique(train, test, 'Outlet_Size')
train['Outlet_Size'].unique()

array(['medium', nan, 'high', 'small'], dtype=object)

In [12]:
def clean_Outlet_Size(data):
    data['Outlet_Size'] = data['Outlet_Size'].fillna("Not defined")
    return data

train = clean_Outlet_Size(train)
test = clean_Outlet_Size(test)
train['Outlet_Size'].unique()

array(['medium', 'Not defined', 'high', 'small'], dtype=object)

In [13]:
def clean_Item_Weight(data):
    data['Item_Weight'].fillna(0, inplace=True)    
    return data
train = clean_Item_Weight(train)
test = clean_Item_Weight(test)

In [14]:
train.isna().sum(axis=0)

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [15]:
def clean_Item_Identifier(data):
    del data['Item_Identifier']
    return data
train = clean_Item_Identifier(train)
test = clean_Item_Identifier(test)

In [16]:
get_unique(train, test, 'Item_Fat_Content')

['low fat', 'lf', 'reg', 'regular']

In [17]:
def clean_Item_Fat_Content(data):
    data['Item_Fat_Content'] = data['Item_Fat_Content'].str.replace('low fat', 'lf')
    data['Item_Fat_Content'] = data['Item_Fat_Content'].str.replace('regular', 'reg')
    return data
train = clean_Item_Fat_Content(train)
test = clean_Item_Fat_Content(test)

In [18]:
get_unique(train, test, 'Item_Type')

['others',
 'breads',
 'fruits and vegetables',
 'hard drinks',
 'household',
 'meat',
 'canned',
 'snack foods',
 'breakfast',
 'health and hygiene',
 'seafood',
 'soft drinks',
 'starchy foods',
 'frozen foods',
 'dairy',
 'baking goods']

In [19]:
def clean_Item_Type(data):
    data['Item_Type'] = data['Item_Type'].str.replace('breads', 'starchy foods')
    data['Item_Type'] = data['Item_Type'].str.replace('frozen foods', 'canned')
    data['Item_Type'] = data['Item_Type'].str.replace('meat', 'nonveg')
    data['Item_Type'] = data['Item_Type'].str.replace('seafood', 'nonveg')
    return data
train = clean_Item_Type(train)
test = clean_Item_Type(test)

In [20]:
get_unique(train, test, 'Outlet_Identifier')

['out027',
 'out013',
 'out017',
 'out035',
 'out019',
 'out049',
 'out018',
 'out010',
 'out046',
 'out045']

In [21]:
get_unique(train, test, 'Outlet_Establishment_Year')

[1985, 1987, 1997, 1998, 1999, 2002, 2004, 2007, 2009]

In [22]:
def clean_Outlet_Establishment_Year(data):
    data['Outlet_Establishment_Year'] = 2019 - data['Outlet_Establishment_Year'] 
    return data

In [23]:
train = clean_Outlet_Establishment_Year(train)
test = clean_Outlet_Establishment_Year(test)
get_unique(train, test, 'Outlet_Establishment_Year')

[32, 34, 10, 12, 15, 17, 20, 21, 22]

In [24]:
get_unique(train, test, 'Outlet_Size')

['Not defined', 'small', 'medium', 'high']

In [25]:
get_unique(train, test, 'Outlet_Location_Type')

['tier 3', 'tier 1', 'tier 2']

In [26]:
get_unique(train, test, 'Outlet_Type')

['supermarket type1',
 'grocery store',
 'supermarket type2',
 'supermarket type3']

In [27]:
train.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.30,lf,0.016047,dairy,249.8092,out049,20,medium,tier 1,supermarket type1,3735.1380
1,5.92,reg,0.019278,soft drinks,48.2692,out018,10,medium,tier 3,supermarket type2,443.4228
2,17.50,lf,0.016760,nonveg,141.6180,out049,20,medium,tier 1,supermarket type1,2097.2700
3,19.20,reg,0.000000,fruits and vegetables,182.0950,out010,21,Not defined,tier 3,grocery store,732.3800
4,8.93,lf,0.000000,household,53.8614,out013,32,high,tier 3,supermarket type1,994.7052

In [28]:
y = train['Item_Outlet_Sales']
del train['Item_Outlet_Sales']

In [29]:
def getDummies(data, columns):
    data = pd.get_dummies(data, columns=columns)
    return data

In [30]:
train = getDummies(train, ['Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', ])
train.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_lf,Item_Fat_Content_reg,Item_Type_baking goods,Item_Type_breakfast,Item_Type_canned,Item_Type_dairy,Item_Type_fruits and vegetables,Item_Type_hard drinks,Item_Type_health and hygiene,Item_Type_household,Item_Type_nonveg,Item_Type_others,Item_Type_snack foods,Item_Type_soft drinks,Item_Type_starchy foods,Outlet_Identifier_out010,Outlet_Identifier_out013,Outlet_Identifier_out017,Outlet_Identifier_out018,Outlet_Identifier_out019,Outlet_Identifier_out027,Outlet_Identifier_out035,Outlet_Identifier_out045,Outlet_Identifier_out046,Outlet_Identifier_out049,Outlet_Size_Not defined,Outlet_Size_high,Outlet_Size_medium,Outlet_Size_small,Outlet_Location_Type_tier 1,Outlet_Location_Type_tier 2,Outlet_Location_Type_tier 3,Outlet_Type_grocery store,Outlet_Type_supermarket type1,Outlet_Type_supermarket type2,Outlet_Type_supermarket type3
0,9.30,0.016047,249.8092,20,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0
1,5.92,0.019278,48.2692,10,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
2,17.50,0.016760,141.6180,20,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0
3,19.20,0.000000,182.0950,21,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
4,8.93,0.000000,53.8614,32,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0

In [31]:
test = getDummies(test, ['Item_Fat_Content', 'Item_Type', 'Outlet_Identifier', 'Outlet_Size', 'Outlet_Location_Type', 'Outlet_Type', ])
test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_lf,Item_Fat_Content_reg,Item_Type_baking goods,Item_Type_breakfast,Item_Type_canned,Item_Type_dairy,Item_Type_fruits and vegetables,Item_Type_hard drinks,Item_Type_health and hygiene,Item_Type_household,Item_Type_nonveg,Item_Type_others,Item_Type_snack foods,Item_Type_soft drinks,Item_Type_starchy foods,Outlet_Identifier_out010,Outlet_Identifier_out013,Outlet_Identifier_out017,Outlet_Identifier_out018,Outlet_Identifier_out019,Outlet_Identifier_out027,Outlet_Identifier_out035,Outlet_Identifier_out045,Outlet_Identifier_out046,Outlet_Identifier_out049,Outlet_Size_Not defined,Outlet_Size_high,Outlet_Size_medium,Outlet_Size_small,Outlet_Location_Type_tier 1,Outlet_Location_Type_tier 2,Outlet_Location_Type_tier 3,Outlet_Type_grocery store,Outlet_Type_supermarket type1,Outlet_Type_supermarket type2,Outlet_Type_supermarket type3
0,20.750,0.007565,107.8622,20,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0
1,8.300,0.038428,87.3198,12,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
2,14.600,0.099575,241.7538,21,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
3,7.315,0.015388,155.0340,12,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
4,0.000,0.118599,234.2300,34,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1

In [32]:
from sklearn.preprocessing import MinMaxScaler
columns = ['Item_Weight', 'Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year'] 
temp = pd.concat([train, test], axis=0)
scaler = MinMaxScaler()
scaler = scaler.fit(temp[columns])
def minMaxScaler(data, columns):
    data[columns] = scaler.transform(data[columns])
    return data

/home/dpoo@eur.ad.sag/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [33]:
train = minMaxScaler(train, columns)
train.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_lf,Item_Fat_Content_reg,Item_Type_baking goods,Item_Type_breakfast,Item_Type_canned,Item_Type_dairy,Item_Type_fruits and vegetables,Item_Type_hard drinks,Item_Type_health and hygiene,Item_Type_household,Item_Type_nonveg,Item_Type_others,Item_Type_snack foods,Item_Type_soft drinks,Item_Type_starchy foods,Outlet_Identifier_out010,Outlet_Identifier_out013,Outlet_Identifier_out017,Outlet_Identifier_out018,Outlet_Identifier_out019,Outlet_Identifier_out027,Outlet_Identifier_out035,Outlet_Identifier_out045,Outlet_Identifier_out046,Outlet_Identifier_out049,Outlet_Size_Not defined,Outlet_Size_high,Outlet_Size_medium,Outlet_Size_small,Outlet_Location_Type_tier 1,Outlet_Location_Type_tier 2,Outlet_Location_Type_tier 3,Outlet_Type_grocery store,Outlet_Type_supermarket type1,Outlet_Type_supermarket type2,Outlet_Type_supermarket type3
0,0.435597,0.048866,0.927507,0.416667,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0
1,0.277283,0.058705,0.072068,0.000000,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,0
2,0.819672,0.051037,0.468288,0.416667,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0
3,0.899297,0.000000,0.640093,0.458333,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
4,0.418267,0.000000,0.095805,0.916667,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,1,0,0

In [34]:
test = minMaxScaler(test, columns)

In [35]:
test.head()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Fat_Content_lf,Item_Fat_Content_reg,Item_Type_baking goods,Item_Type_breakfast,Item_Type_canned,Item_Type_dairy,Item_Type_fruits and vegetables,Item_Type_hard drinks,Item_Type_health and hygiene,Item_Type_household,Item_Type_nonveg,Item_Type_others,Item_Type_snack foods,Item_Type_soft drinks,Item_Type_starchy foods,Outlet_Identifier_out010,Outlet_Identifier_out013,Outlet_Identifier_out017,Outlet_Identifier_out018,Outlet_Identifier_out019,Outlet_Identifier_out027,Outlet_Identifier_out035,Outlet_Identifier_out045,Outlet_Identifier_out046,Outlet_Identifier_out049,Outlet_Size_Not defined,Outlet_Size_high,Outlet_Size_medium,Outlet_Size_small,Outlet_Location_Type_tier 1,Outlet_Location_Type_tier 2,Outlet_Location_Type_tier 3,Outlet_Type_grocery store,Outlet_Type_supermarket type1,Outlet_Type_supermarket type2,Outlet_Type_supermarket type3
0,0.971897,0.023036,0.325012,0.416667,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0
1,0.388759,0.117018,0.237819,0.083333,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
2,0.683841,0.303221,0.893316,0.458333,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0
3,0.342623,0.046860,0.525233,0.083333,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0
4,0.000000,0.361153,0.861381,1.000000,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,1

In [36]:
y_scaler = MinMaxScaler()
y = np.array(y)
y_w = y[:]
# test_y = y_w[0:1000]
y = y.reshape(-1, 1)
y_scaler = y_scaler.fit(y)
y = y_scaler.transform(y)

In [37]:
x = np.array(train)
x_pred_test = np.array(test)
# test_x = x[0:1000]

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.30, random_state=42)

In [39]:
print('x train', x_train.shape)
print('y train', y_train.shape)

x train (5966, 40)
y train (5966, 1)

In [40]:
from keras.models import Sequential
from keras.layers import Dropout
from keras.layers import Dense
from keras.callbacks import EarlyStopping

early_stopping_monitor = EarlyStopping(patience=5)

model = Sequential()
model.add(Dense(100, activation='relu', input_shape=(x_train.shape[1],)))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation='relu'))
model.compile(loss='mean_squared_error', optimizer='adam',  metrics=['mse'])

history = model.fit(x, y, validation_split=0.2, epochs=1000, callbacks=[early_stopping_monitor])

Using TensorFlow backend.

WARNING:tensorflow:From /home/dpoo@eur.ad.sag/anaconda3/lib/python3.7/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/dpoo@eur.ad.sag/anaconda3/lib/python3.7/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Train on 6818 samples, validate on 1705 samples
Epoch 1/1000
6818/6818 [==============================] - 1s 164us/step - loss: 0.0102 - mean_squared_error: 0.0102 - val_loss: 0.0080 - val_mean_squared_error: 0.0080
Epoch 2/1000
6818/6818 [==============================] - 1s 114us/step - loss: 0.0076 - mean_squared_error: 0.0076 - val_loss: 0.0078 - val_mean_squared_error: 0.0078
Epoch 3/1000
6818/6818 [==============================] - 1s 98us/step - loss: 0.0074 - mean_squared_error: 0.0074 - val_loss: 0.0082 - val_mean_squared_error: 0.0082
Epoch 4/1000
6818/6818 [==============================] - 1s 82us/step - loss: 0.0073 - mean_squared_error: 0.0073 - val_loss: 0.0074 - val_mean_squared_error: 0.0074
Epoch 5/1000
6818/6818 [==============================] - 0s 66us/step - loss: 0.0071 - mean_squared_error: 0.0071 - val_loss: 0.0076 - val_mean_squared_error: 0.0076
Epoch 6/1000
6818/6818 [==============================] - 1s 119us/step - loss: 0.0072 - mean_squared_error: 0.0072 - val_loss: 0.0076 - val_mean_squared_error: 0.0076
Epoch 7/1000
6818/6818 [==============================] - 1s 122us/step - loss: 0.0070 - mean_squared_error: 0.0070 - val_loss: 0.0079 - val_mean_squared_error: 0.0079
Epoch 8/1000
6818/6818 [==============================] - 1s 102us/step - loss: 0.0070 - mean_squared_error: 0.0070 - val_loss: 0.0073 - val_mean_squared_error: 0.0073
Epoch 9/1000
6818/6818 [==============================] - 1s 84us/step - loss: 0.0070 - mean_squared_error: 0.0070 - val_loss: 0.0072 - val_mean_squared_error: 0.0072
Epoch 10/1000
6818/6818 [==============================] - 0s 64us/step - loss: 0.0069 - mean_squared_error: 0.0069 - val_loss: 0.0081 - val_mean_squared_error: 0.0081
Epoch 11/1000
6818/6818 [==============================] - 1s 106us/step - loss: 0.0069 - mean_squared_error: 0.0069 - val_loss: 0.0074 - val_mean_squared_error: 0.0074
Epoch 12/1000
6818/6818 [==============================] - 1s 90us/step - loss: 0.0069 - mean_squared_error: 0.0069 - val_loss: 0.0075 - val_mean_squared_error: 0.0075
Epoch 13/1000
6818/6818 [==============================] - 0s 71us/step - loss: 0.0069 - mean_squared_error: 0.0069 - val_loss: 0.0073 - val_mean_squared_error: 0.0073
Epoch 14/1000
6818/6818 [==============================] - 1s 109us/step - loss: 0.0068 - mean_squared_error: 0.0068 - val_loss: 0.0076 - val_mean_squared_error: 0.0076

In [41]:
# loss: 0.0067 - val_loss: 0.0073  model --> 100-->10-->1
index = 8
x_test_pre = np.array(x[index]).reshape(1, -1)

In [42]:
y_test = model.predict(x_test_pre)
y_test = y_test.reshape(-1, 1)
print("predicted:", y_test)
print("actual: ", y_w[index])
print(y_scaler.inverse_transform(y_test)[0][0])

predicted: [[0.09792785]]
actual:  1076.5986
1311.6083

In [44]:
y_pred_test = model.predict(x_pred_test)
y_pred_test = y_pred_test.reshape(-1, 1)
pred = y_scaler.inverse_transform(y_pred_test)

In [47]:
pred.shape

(5681, 1)

In [49]:
submission = pd.read_csv('./SampleSubmission_TmnO39y.txt')
submission.head()

  Item_Identifier Outlet_Identifier  Item_Outlet_Sales
0           FDW58            OUT049                NaN
1           FDW14            OUT017                NaN
2           NCN55            OUT010                NaN
3           FDQ58            OUT017                NaN
4           FDY38            OUT027                NaN

In [50]:
submission.shape

(5681, 3)

In [51]:
submission['Item_Outlet_Sales'] = pred

In [53]:
submission.to_csv('./FinalSubmission.csv')